@import "./color_schemes/light";

$link-color: #1476ff;
$body-text-color: #191919;
$body-font-family: -apple-system,HuaweiSans,Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,Microsoft JhengHei,SimSun,sans-serif;
